<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>home</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>history</a>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>ingredients</a></li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>types</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>

<div class="container-fluid no-pad mainImage-container ">
  <div class="row">
    <div class="col-sm-6">

      <div class="trans-text-cont">
        <br><br>
        <h1>Always a good idea</h1>
        <h3>Even after a hard day of work</h3>
        <br>
        <h2>Pilsner from Pilzen</h2>
      </div>

    </div>
    <div class="col-sm-6">
      <div id="mainImage"></div>
    </div>

  </div>
</div>

<div class="container no-pad">
  <br><br><br>
  <h1 class="text-centre">The histroy of something</h1>
  <div class="line"></div>
  <div class="centre max-width-700">
    <h3 class=" text-centre">Beer is the world's oldest and most widely consumed alcoholic drink. </h3>
  </div>
  <p class="css-columns">
    The production of beer is called brewing, which involves the fermentation of starches, mainly derived from cereal grains—most
    commonly malted barley, although wheat, maize (corn), and rice are widely used.[6] Most beer is flavoured with hops,
    which add bitterness and act as a natural preservative, though other flavourings such as herbs or fruit may occasionally
    be included. The fermentation process causes a natural carbonation effect, although this is often removed during processing,
    and replaced with forced carbonation.[7] Some of humanity's earliest known writings refer to the production and distribution
    of beer: the Code of Hammurabi included laws regulating beer and beer parlours,[8] and "The Hymn to Ninkasi", a prayer
    to the Mesopotamian goddess of beer, served as both a prayer and as a method of remembering the recipe for beer in a
    culture with few literate people.[9][10]
  </p>

  <br><br><br>
</div>

<div class="container-fluid white-bg">
  <div class="container">
    <div class="row text-centre">
      <div class="col-sm-3">
        <h3>The Trade</h3>
        <img src="../styles/images/bc1.png" class="mug-cont1 centre">
        <p>The process of making beer is known as brewing. A dedicated building for the making of beer is called a brewery,
          though beer can be made in the home and has been for much of its history.</p>
      </div>
      <div class="col-sm-3">
        <h3>Market</h3>
        <img src="../styles/images/bc3.png" class="mug-cont2 centre">
        <p>A company that makes beer is called either a brewery or a brewing company. Beer made on a domestic scale for non-commercial
          reasons is classified as homebrewing regardless of where it is made.</p>
      </div>
      <div class="col-sm-3">
        <h3>Canada</h3>
        <img src="../styles/images/bc2.png" class="mug-cont3 centre">
        <p>Brewing beer is subject to legislation and taxation in developed countries, which from the late 19th century largely
          restricted brewing to a commercial operation only. </p>
      </div>
      <div class="col-sm-3">
        <h3>Others</h3>
        <img src="../styles/images/bc4.png" class="mug-cont4 centre">
        <p>However, the UK government relaxed legislation in 1963, followed by Australia in 1972 and the US in 1978, allowing
          homebrewing to become a popular hobby.[38]</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-sm-6">
    <h1>History</h1>

    <div class="line"></div>
    <br>
    <p>Beer is one of the world's oldest prepared beverages, possibly dating back to the early Neolithic or 9500 BC[citation
      needed], when cereal was first farmed,[12] and is recorded in the written history of ancient Iraq and ancient Egypt.[13]
      Archaeologists speculate that beer was instrumental in the formation of civilisations.[14] Approximately 5000 years
      ago, workers in the city of Uruk (modern day Iraq) were paid by their employers in beer.[15] During the building of
      the Great Pyramids in Giza, Egypt, each worker got a daily ration of four to five litres of beer, which served as both
      nutrition and refreshment that was crucial to the pyramids' construction.[16]
    </p>


    <button type="button" class="btn btn-default">Default</button>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary">Primary</button>

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success">Success</button>

    <!-- Contextual button for informational alert messages -->
    <button type="button" class="btn btn-info">Info</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning">Warning</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger">Danger</button>

    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
    <button type="button" class="btn btn-link">Link</button>

  </div>
  <div class="col-sm-6">
    <img src="../styles/images/keg.png" class="centre mug-cont">
  </div>
</div>


<footer class="green-bg">
  <div class="container-fluid">
    <div class="container">
      <div class="row text-centre">
        <div class="col-sm-3">
          <h2>The Trade</h2>
          <img src="../styles/images/b4.png" class="centre">
          <p>A Webpack plugin that generates OS notificationssteps using node-notifier.</p>
        </div>
        <div class="col-sm-3">
          <h2>Market</h2>
          <img src="../styles/images/b1.png" class="centre">
          <p>Generates OS notifications for build steps using node-notifier.</p>
        </div>
        <div class="col-sm-3">
          <h2>Canada</h2>
          <img src="../styles/images/b2.png" class="centre">
          <p>OS notifications for build steps using node-notifier and others.</p>
        </div>
        <div class="col-sm-3">
          <h2>Others</h2>
          <img src="../styles/images/b5.png" class="centre">
          <p>Another things Generates OS notifications for build steps using node-notifier.</p>
        </div>
      </div>
    </div>
  </div>
</footer>